<h1>Authentication Error :"<</h1>
<h4>This page will reload in <span></span></h4>
<script>
    let s = document.querySelector('span');
    let count = 3;
    setInterval(()=>{
            s.textContent = count;
            count--;
    },1000)
    setTimeout(() => {
        window.location.href = "/login";
        
    }, 4000);
</script>