<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style_C.css">
    <link rel="stylesheet" href="/stylesheets/style_all.css">
    <script src="/js/data.js" defer></script>
    <script src="/js/app_C.js" defer></script>
    <title>超方便統整大平台</title>
</head>
<!-- 星期陣列 內課程陣列 -->
<body>
        <div class="mask hide">
                <div class="lds-css ng-scope">
                        <div class="lds-blocks" style="width:100%;height:100%"><div style="left:38px;top:38px;animation-delay:0s"></div><div style="left:80px;top:38px;animation-delay:0.125s"></div><div style="left:122px;top:38px;animation-delay:0.25s"></div><div style="left:38px;top:80px;animation-delay:0.875s"></div><div style="left:122px;top:80px;animation-delay:0.375s"></div><div style="left:38px;top:122px;animation-delay:0.75s"></div><div style="left:80px;top:122px;animation-delay:0.625s"></div><div style="left:122px;top:122px;animation-delay:0.5s"></div></div>
                        <style type="text/css">@keyframes lds-blocks {
                          0% {
                            background: #fad96d;
                          }
                          12.5% {
                            background: #fad96d;
                          }
                          12.625% {
                            background: #eab145;
                          }
                          100% {
                            background: #eab145;
                          }
                        }
                        @-webkit-keyframes lds-blocks {
                          0% {
                            background: #fad96d;
                          }
                          12.5% {
                            background: #fad96d;
                          }
                          12.625% {
                            background: #eab145;
                          }
                          100% {
                            background: #eab145;
                          }
                        }
                        .lds-blocks {
                          position: relative;
                        }
                        .lds-blocks div {
                          position: absolute;
                          width: 40px;
                          height: 40px;
                          background: #eab145;
                          -webkit-animation: lds-blocks 1s linear infinite;
                          animation: lds-blocks 1s linear infinite;
                        }
                        .lds-blocks {
                          width: 200px !important;
                          height: 200px !important;
                          -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                          transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                        }
                        </style></div>
        </div>
    <header>
        <div class="logoBack">
            <div class="logoText">超方便統整大平台</div>
            <div class="logout">
                    <div class="loginPIC">
                        <p class="welcome"><%= member %></p>
                        <a href="/logout" class="out">登出</a>
                    </div>
                  </div>
            <div class="tag">
                <a href="/elearning/annoucement" id="TAG" class="board">教授Say What</a>
                <a href="/aca/course" id="TAG" class="Class">爆肝課表</a>
                <a href="/elearning/homework" id="TAG" class="hw">緊急任務</a>
                <a href="/aca/grades" id="TAG" class="grade">拜託All Pass</a>
            </div>
        </div>
    </header>
    <!-- <h1 style="display:inline-block;"class="user"><%= member %></h1><a style="display:inline-block;" href="/logout">(登出)</a> -->
    <div class="container">
        <div class="day">
            <!-- <p class="weekT">17週</p> -->
            <p class="date"></p>
            <p class="week"></p>
            
            <select name="C" class="choiceYear">
                <option value="-1">請選擇</option>
                <option value="0">星期一</option>
                <option value="1">星期二</option>
                <option value="2">星期三</option>
                <option value="3">星期四</option>
                <option value="4">星期五</option>
                <option value="5">星期六</option>
                <option value="6">星期日</option>
            </select>
            <p class="tt">我還想知道其他爆肝的日子</p>
        </div>
        <div class="Title">
            <p class="No">節數</p>
            <p class="course">爆肝課程</p>
            <p class="time">時間</p>
            <p class="place">地點</p>
        </div>
        <div class="title">
            <p class="No">X</p>
            <p class="course">養肝</p>
            <p class="time">07:00~08:00</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">1</p>
            <p class="course">養肝</p>
            <p class="time">08:05~08:55</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">2</p>
            <p class="course">養肝</p>
            <p class="time">09:05~09:55</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">3</p>
            <p class="course">養肝</p>
            <p class="time">10:10~11:00</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">4</p>
            <p class="course">養肝</p>
            <p class="time">11:10~12:00</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title_">
                <p class="No">午</p>
                <p class="course">午餐時間</p>
                <p class="time">12:00~13:10</p>
                <p class="place">午餐時間</p>
            </div>
        <div class="title_">
            <p class="No">5</p>
            <p class="course">養肝</p>
            <p class="time">13:10~14:00</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">6</p>
            <p class="course">養肝</p>
            <p class="time">14:10~15:00</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">7</p>
            <p class="course">養肝</p>
            <p class="time">15:15~16:05</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">8</p>
            <p class="course">養肝</p>
            <p class="time">16:15~17:05</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">9</p>
            <p class="course">養肝</p>
            <p class="time">17:15~18:05</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">10</p>
            <p class="course">養肝</p>
            <p class="time">18:20~19:10</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">11</p>
            <p class="course">養肝</p>
            <p class="time">19:20~20:10</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">12</p>
            <p class="course">養肝</p>
            <p class="time">20:20~21:10</p>
            <p class="place">溫暖小被窩</p>
        </div>
        <div class="title">
            <p class="No">13</p>
            <p class="course">養肝</p>
            <p class="time">21:20~22:10</p>
            <p class="place">溫暖小被窩</p>
        </div>
        
    </div>
    
</body>
</html>