Somthing wrong :"<
    <br>This page will reload in <span></span>
<script>
    let s = document.querySelector('span');
    let count = 3;
    setInterval(()=>{
            s.textContent = count;
            count--;
    },1000)
    setTimeout(() => {
        window.location.href = "/";
        
    }, 4000);
    
</script>