<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style_g.css">
    <link rel="stylesheet" href="/stylesheets/style_all.css">
    <script src="/js/data.js" defer></script>
    <script src="/js/app_G.js" defer></script>
    <title>Document</title>
</head>
<!-- 星期陣列 內課程陣列 -->
<body>
    <header>
        <div class="logoBack">
            <div class="logoText">超方便統整大平台</div>
            <div class="tag">
                <a href="/aca/course" id="TAG" class="Class">爆肝課表</a>
                <a href="/elearning/annoucement" id="TAG" class="board">教授Say What</a>
                <a href="/elearning/homework" id="TAG" class="hw">緊急任務</a>
                <a href="/aca/grades" id="TAG" class="grade_">拜託All Pass</a>
            </div>
        </div>
    </header>
    <div class="container_g">
        <div class="choice">
            <p>請選擇你想面對的年度</p>
            <select name="C" class="choiceYear">
            <!-- <div class="choiceYear"> -->
                <!-- <option value="0">請選擇</option>
                <option value="106-1">106上學期</option> -->
            <!-- </div> -->
            </select>
        </div>
        <div class="gradeDiv"></div>
        <!-- <div class="grade">
            <div class="int"><p>87</p></div>
            <p class="course">JavaScript</p>
            <p class="time">107上</p>
        </div> -->
        
            
    </div>
</body>
</html>