<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style_h.css">
    <link rel="stylesheet" href="/stylesheets/style_all.css">
    <script src="/js/data.js" defer></script>
    <script src="/js/app_h.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logoBack">
            <!-- <img src="pic/backpic.jpg" alt=""> -->
            <div class="logoText">超方便統整大平台</div>
            <div class="tag">
                <a href="/aca/course" id="TAG" class="Class">爆肝課表</a>
                <a href="/elearning/annoucement" id="TAG" class="board">教授Say What</a>
                <a href="/elearning/homework" id="TAG" class="hw">緊急任務</a>
                <a href="/aca/grades" id="TAG" class="grade">拜託All Pass</a>
            </div>
        </div>
    </header>
    <h1 class="user"><%= member %></h1>
    <div class="container">
        <!-- <div class="homework">
            <p class="course">JavaScript</p>
            <p class="job">期末專題</p>
            <p class="time">2019-01-14</p>
        </div> -->
    </div>
    
</body>
</html>