
.container{
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
}
.textBoard{
    border: 1px solid gray;
    margin: 50px;
    text-align: left;
    padding: 0px 50px;
}
.T{
    font-weight: bold;
    margin-top: 50px;
    display: inline-block;
}
.course{
    float : right;
    margin: 0px;
    margin-top: 50px;
    padding: 10px;
    background-color: #ffcb3d;
}
.t{
    display: block;
    margin-top: 0;
}


/*Login的部分*/
img{
    float: left;
    /* border: 2px solid #ffcb3d; */
    height: 90px;
    width: 90px;
    margin: 20px;
    /* display: inline-block; */
}
.login{
    position: absolute;
    margin-top: 100px;
    margin-left: 18vw;
    display: block;
    background-image: url(/pic/header.jpg);
    background-size: 100%;
    height: 53vh;
    width: 40vw;
    padding: 100px 300px ;
    border-radius: 30px;
    opacity: 0.9;
    z-index: 3;
    filter:drop-shadow(20px 20px 20px #aaa);
}
/* .ID img{
    width: 30px;
}
.password img{
    width: 30px;
} */
input{
    /* position: relative; */
    /* background-color: rgb(202, 202, 202); */
    float: left;
    color: #161616;
    height: 100px;
    width: 80%;
    border: none;
    border-bottom: 2px solid ;
    border-bottom-color: white;
    background-color: rgba(0, 0, 0, 0);
    color: #161616;
    margin: 20px;
    font-size: 48px;
    
}
.enter{
    background-color: #161616;
    border-radius: 50px;
    color: white;
    font-size: 32px;
    height: 90px;
    width: 300px;
    border: none;
    cursor: pointer;
    margin: 60px 35%;
}
.mask{
    width: 100vw;
    height: 100%;
    filter: blur();
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    z-index: 3;
}

body{
    height:100vh;
    overflow: hidden;
}
.lds-css{
    margin:40vh 47vw;
    
}
.ultraMask{
    z-index: 6;
}
.hide{
    display: none;
}
.maskLogin{
    width: 100vw;
    height: 100%;
    filter: blur();
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
}